$switch-height: 22px;
$switch-width: 38px;
$switch-radius: ($switch-height / 2);

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
}

.cm-app-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 38px;
    height: $switch-height;
    border: none;
    outline: 0;
    transform: none;
}

.cm-app-label {
    /* The slider */
    .slider {
        border: 2px solid $cm-slide-border-color;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        width: 38px;
        display: inline-block;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 12px;
        width: 12px;
        left: 5px;
        bottom: 3px;
        background-color: $cm-slide-switch;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: $switch-radius;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px);
    }
}

.cm-app-input:checked + .cm-app-label .slider {
    background-color: $notice;
    border-color: $notice;
    &:before {
        background-color: $cm-slide-switch-active;
    }
}

.cm-app-input.required:checked + .cm-app-label .slider {
    opacity: 0.8;
    background-color: $success;
    border-color: $success;
    cursor: not-allowed;
    &:before {
        background-color: $cm-slide-switch-active;
    }
}

.cm-app-input:checked + .cm-app-label .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
